!!!
%html
  %head
    %title= @title
    %link{rel:"stylesheet", href:"/css/pygments.css", type:"text/css", media:"screen", charset:"utf-8"} 
    
  %body
    %style
      :sass
        a
          text-decoration: none
          color: #00a
        body
          max-width: 600px
          margin: 20px auto
          background-color: #eee
          line-height: 150%
          font-family: Georgia
        div.highlight
          margin-left: 10px
          line-height: 110%
          border-left: solid 5px #ddd
          padding-left: 10px
        h1,h2,h3,h4
          font-family: Arial
        ul.notes, ul.notes li
          margin: 0
          padding: 0
        ul.notes li
          h3
            margin-top: 0
          .date
            float: right
          
          
    = yield
    %br
    %br
    %br
    %hr
    %center{style:'font-size: 70%'}
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">&copy; Andrei Fokau 2011 CC BY 3.0</a>
