%a{href:'/'} &larr; all notes
%h1= @note.title
%small
  %p
    = @note.date.strftime('Published %b %d, %Y by')
    %a{href:'/aboutme'} Andrei Fokau
    / %a{href:'http://twitter.com/highflux'} @highflux

.note
  ~ syntax_highlighter render_markdown @note.body
